*/build/
Encheres/context.xml
*/.settings/
*/build/
/builds/AzzRun/eni-java-project-bid/Encheres/bin
/builds/AzzRun/eni-java-project-bid/Encheres/dist
/builds/AzzRun/eni-java-project-bid/Encheres/testreports
