
.accueil .row {
	margin-left: 0;
	margin-right: 0;
}
#dashboard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}
.dashboard-tile {
	min-width: 320px; 
	max-width: 530px;
}
.dashboard-tile .card-title{
	margin-bottom: .75rem;
	text-decoration: underline;
}

.detail img{
	width: auto;
	height: 195px;
}

#filterForm input:invalid {
  border: 1px solid red;
}
